<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>playerInfos</key>
        <array>
            <dict>
                <key>plants</key>
                <array>
                    <string>Sunflower</string>
                    <string>PeaShooter</string>
                    <string>SnowPea</string>
                    <string>WallNut</string>
                    <string>Repeater</string>
                </array>
                <key>sunlight</key>
                <integer>220</integer>
                <key>currentPlant</key>
                <integer>4</integer>
                <key>initialPosX</key>
                <real>-1.9999201</real>
                <key>initialPosY</key>
                <real>136.9840698</real>
                <key>plantInfo</key>
                <dict>
                    <key>PeaShooter</key>
                    <dict>
                        <key>hp</key>
                        <integer>0</integer>
                    </dict>
                    <key>Repeater</key>
                    <dict>
                        <key>hp</key>
                        <integer>6</integer>
                    </dict>
                    <key>SnowPea</key>
                    <dict>
                        <key>hp</key>
                        <integer>4</integer>
                    </dict>
                    <key>WallNut</key>
                    <dict>
                        <key>hp</key>
                        <integer>36</integer>
                    </dict>
                    <key>Sunflower</key>
                    <dict>
                        <key>hp</key>
                        <integer>3</integer>
                    </dict>
                </dict>
            </dict>
        </array>
        <key>level</key>
        <integer>2</integer>
    </dict>
</plist>
